* {
	margin: 0;
	padding: 0;
	font-family: 'Belgrano', serif;
	overflow: visible;
}

a {
	color: #be3557;
	text-transform: uppercase;
}

a:hover {
	color: #900729;
}

header {
	width: 900px;
	margin: 0 auto;
}
input {
	border: 1px solid #999;
}
.submit_button {
	background-color: #b0053b;
	color: #fff;
	font-size: 16px;
	padding: 12px;
}
#nav {
	height: 60px;
	float: right;
	display: inline-block;
	margin-top: 20px;
}

#nav ul {
	position: relative;
	top: 39px;
}

#nav li {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 15px;
	font-weight: bold;
	font-size: 15px;
}

#nav li:hover {
	background: url('../images/HEADER-activearrow.png') no-repeat center 0px;
}

#nav li.active {
	background: url('../images/HEADER-activearrow.png') no-repeat center 0px;
}

#nav li.social {
	margin-left: 7px;
	margin-right: 0px;
	position: relative;
	top: 6px;
}

#nav li.social:hover {
	background: none;
}

#nav a {
	font-size: 15px;
	line-height: 50px;
	color: black;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: none;
}

.width-wrapper {
	width: 900px;
	margin: 0 auto;
}

#content-wrapper {
	width: 900px;
	margin: 0 auto;
	display: table;
}

#content {
	display: table-cell;
	vertical-align: bottom;
	width: 480px;
}

#content-wrapper .character {
	width: 41px;
	height: 26px;
	background: url('../images/CONTENT-character.png') no-repeat;
	margin-bottom: 25px;
}

#content-wrapper h1 {
	font-size: 35px;
	line-height: 36px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.red {
	color: #be3557;
	font-size: 13px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.grey {
	color: #867c7c;
	font-size: 14px;
	margin-bottom: 20px;
}

#content-wrapper .apply-link {
	background: url('../images/CONTENT-applyarrow.png') no-repeat;
	margin-bottom: 10px;
	padding-top: 1px;
	padding-left: 18px;
	font-size: 14px;
}

#content-wrapper img {
	float: right;
	margin-left: 20px;
}

#content-wrapper a {
	color: #be3557;
	text-transform: none;

}

#page-title {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding: 20px 0 20px 0;
}

#page-title h1 {
	padding-left: 14px;
	font-size: 36px;
	line-height: 36px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.main-content {
	padding: 14px;
	width: 540px;
	border-right: 1px solid lightgrey;
}

.main-content ul {
	padding-left: 28px;
	list-style-image: url('../images/CONTENT-bullet.png');
}

.sidebar-right {
	padding: 14px;
	width: 303px;
	float: right;
}

.sidebar-right ul {
	padding-left: 28px;
	text-indent: -5px;
	margin-bottom: 20px;
	list-style-image: url('../images/CONTENT-bullet.png');
}

.sidebar-right a {
	color: #867c7c;
	font-size: 15px;
	text-transform: none;
}

.sidebar-right img {
	display: block;
}

.sidebar-right a:hover {
	color: #666666;
}

#content-wrapper.left {
	border-right: 1px solid lightgrey;	
}
#content-wrapper.middle {
	border-left: 1px solid lightgrey;	
	border-right: 1px solid lightgrey;	
}
#content-wrapper.right {
	border-left: 1px solid lightgrey;	
}

#module-wrapper {
	width: 900px;
	height: 464px;
	margin: 0 auto;
}

#module-wrapper .grey {
	margin-top: 10px;
}

.module {
	width: 280px;
	height: 450px;
	float: left;
}

.module .character {
	margin-top: 20px;
}

.module.left {				
	padding: 14px 14px 0 0;
	border-right: 1px solid lightgrey;
}

.module.left .character {
	width: 41px;
	height: 31px;
	background: url('../images/MODULE-characterleft.png') no-repeat;
}

.module.middle {
	padding: 14px 14px 0 14px;
}

.module.middle .character {
	width: 33px;
	height: 45px;
	background: url('../images/MODULE-charactermiddle.png') no-repeat;
}

.module.right {
	padding: 14px 0 0 14px;
	border-left: 1px solid lightgrey;			
}

.module.right .character {
	width: 62px;
	height: 26px;
	background: url('../images/MODULE-characterright.png') no-repeat;
}

#top-wrapper {
	border-top: 1px solid lightgrey;
}

.left-column {
	padding: 14px;
	width: 420px;
	border-right: 1px solid lightgrey;
	display: table-cell;
	clear: both;
}

.right-column {
	padding: 14px;
	width: 540px;
	display: table-cell;
	clear: both;
}

.right-column ul {
	padding-left: 28px;
	list-style-image: url('../images/CONTENT-bullet.png');
}

#apply-essentials {
	background: url('../images/CONTENT-asterisk.png') no-repeat 190px 1px;
	padding-left: 14px;
}

.form-item {
	float: right;
	clear: both;
}

form[name="application"] {
	font-size: 14px;
	color: #867c7c;
}

input[type="text"], textarea {
	width: 270px;
	font-size: 14px;
	margin-bottom: 5px;
}

.right-column input[type="text"], .right-column textarea {
	width: 350px;
}

.fade-out {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 300px;
	width: 972px;
	position: absolute;
	z-index: 1;
}

.coming-soon-banner {
	font-size: 23px;
	color: #be3557;
	width: 972px;
	position: absolute;
	top: 100px;
	text-align: center;
	z-index: 2;
	background-color: white;
	box-shadow: 0 0 5px black;
	padding: 5px;
}

.quote {
	width: 400px;
	float: right;
	font-size: 18px;
	margin: 0 0 15px 15px;
}

blockquote footer {
	background-color: white;
	font-size: 14px;
	font-style: italic;
	color: black;
}

.team-member {
	margin-bottom: 15px;
	clear: both;
}

.team-member img.portrait {
	box-shadow: 0 0 5px black;
	float: left;
	margin-right: 14px;
	margin-bottom: 20px;
}

footer {
	background-color: #969696;
	clear: both;
}

#footer-wrapper {
	width: 900px;
	height: 45px;
	margin: 0 auto;
	color: white;
	font-size: 14px;
}

#copyright {
	position: relative;
	top: 16px;
}

#footer-logo {
	float: right;
	width: 153px;
	height: 35px;
	position: relative;
	top: 5px;
	background: url('../images/FOOTER-copyright.png') no-repeat;
}